body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.list {
    height: 90vh;
    overflow-y: auto;
}

.item {
    display: flex;
    margin: 1vw 0.2vw;
    border-radius: 2vw;
    background-color: #d9d9d9;
}

.item img {
    border-radius: 2vw;
    width: 40%;
    height: auto;
}

.jam, .rating {
    display: flex;
    align-items:center;
}

.info {
    /*top: -20vw;*/
    margin-top: 55vw;
    background-color: white;
    padding: 4vw;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

.info > div:not(:last-child) {
    margin-bottom: 0.7rem;
}

.info .jam span, .info .rating span {
    margin-left: 0.5em;
}

.info .jam {
    font-size: 1.2em;
}

.info .nama {
    font-size: 1.7em;
    font-weight: bold;
}

.categories {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.cat {
    background-color: #d9d9d9;
    padding: 0.8em;
    border-radius: 32px;
}

.item-desc {
    margin: 0.2vw 3vw;
}

a {
    text-decoration: none;
}

.top .cover {
    position:fixed;
    top: 0;
    z-index: -2;
}

.top img {
    width: 100%;
}

.backbutton {
    margin: 1em;
    width: 24px;
    height: 24px;
    top: 0;
    position: fixed;
    z-index: -1;
}